body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    border: 15px solid #4CAF50;
    box-sizing: border-box;
}

.container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
    color: #333;
    text-shadow: 2px 2px 4px #0000005d;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #ff9900;
    color: white;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

button:hover {
    background-color: #00ff95;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}